@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #11224E;
    --text: #F1F5F9;
    --secondary: #3c17b8;
    --active-link: #2B7FFF;
    --grave: #314158;
    --size : 300px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

body {
    min-height: 100vh;
}

.main-content {
    min-height: 100vh;
    width: 100%;
    justify-items: center;
    align-content: center;
}

.card 
{
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 10px;
}

.card-header {
    width: 100%;
    min-height: 150px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
}

.card-header > .image-logo {
    width: 350px;
    height: 100px;
    background-image: url(image/image\ \(5\).png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.card-header > .title {
    color: var(--text);
    text-align: center;
    width: 110%;
    text-transform: uppercase;
}
.image-person {
    display: flex;
}
.image-person > img {
    width: 280px;
    border-radius: 50px;
    background-color: rgb(239, 239, 235);
}

.card-body {
    display: grid;
    grid-template-columns: 0.8fr auto;
    gap: 5px;;
    align-items: center;
    padding-left: 1.5px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(255, 255, 255);
    
}

.card-body-content {
    position: relative;
    z-index: 0;
}
.card-body-content > .image {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(image/UEMF.jpg);
    background-position: center;
    background-size: cenlester;
    background-size: cover;
    
    z-index: -1;
    filter: blur(10px), grayscale(10%);
        -webkit-filter: blur(2px) grayscale(900%);
    opacity: 0.15;

}
.lign-content {
    padding: 20px 0px 20px 30px;
}
.lign > h1 {
    color: var(--secondary);
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;
    z-index: 50;
    
}
.lign > p {
    margin-left: 20px;
    margin-top: 10px;
    color: #000000;
    font-size: 1.2em;
    font-weight: 700;
    z-index: 50;
}

